* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}

.logo {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #999;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a.active {
    color: black;
    font-weight: 500;
}

.nav-links a:hover {
    color: black;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-icons img {
    width: 22px;
    cursor: pointer;
} 
.line-rightçizgi{
  border-right: 1px solid #ccc;
  margin-right: ; 
}



/*navbar bitti*/


/*MİNEL Hero kısmı start*/
.hero{  
  background-color: #C1DCDC;
  max-width: 1248px;
  margin: 40px auto;   /* sağ sol boşluk - ortalama */
  border-radius: 24px;
  padding: 80px;


}
.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

.hero-left {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 1.2;
}
 .stats {
  display: flex;
  align-items: center;
  gap: 48px; /* Figma’daki gap */
}
.divider {
    
  width: 5px;
  height: 200px;
  background: #131212;
}
 .search-box img{
    width: 48;
height: 48;
top: 8px;
left: 393px;
border-radius: 12px;
background-color:#C1DCDC ;
border: none;


 }
 .search-box input{
    background-color: aqua;
    width: 449px;
height: 64px;
border-radius: 12px;
border: none;

 }





























