* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}

.logo {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #999;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a.active {
    color: black;
    font-weight: 500;
}

.nav-links a:hover {
    color: black;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-icons img {
    width: 22px;
    cursor: pointer;
} 
.line-rightçizgi{
  border-right: 1px solid #ccc;
  margin-right: 1; 
}

/*Minel Navbar and*/

/* Minel hero start */
.hero {  
  background-color: #C1DCDC;
  max-width: 1248px;
  margin: 40px auto;
  border-radius: 24px;
  padding: 80px;
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SOL TARAF */
.baslık {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 32px;
}

/* Stats */
.stats {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-bottom: 32px;
}

.stats h3 {
  font-size: 32px;
  margin: 0;
}

.yazı {
  padding-top: 15px;
    margin: 0;
  color:#1E1E1E;
  font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 100%;

}

.divider {
  width: 2px;
  height: 60px;
  background: #131212;
}

/* SEARCH */
.search-box {
  position: relative;
  width: 449px;
}

.search-box input {
  width: 100%;
  height: 64px;
  border-radius: 12px;
  border: none;
  padding: 0 60px 0 20px;
  font-size: 16px;
}

.search-box img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}



/* SAĞ TARAF */
.endıs {
  display: flex;
  justify-content: flex-end;
}

.image-wrap {
    position: relative;
  display: inline-block;

}

.bg-image {
  display: block;
    
}

.front-image {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  object-fit: contain; /* taşmayı engeller */
}
.icon-bg {
  position: absolute; 
  width: 48px;
  height: 48px;
  top: 8px;
  left: 393px;
  background-color:#C1DCDC;  
  border-radius: 4px;       
  opacity: 1;
  transform: rotate(0deg);    /* açı için */
}
/*Minel Hero and*/



/*minel 2 hero*/
.container-A {  
  background-color:#FFFFFF;
  max-width: 1248px;
  margin: 40px auto;
  border-radius: 24px;
  padding: 80px;
}
.hero-left-A{
width: 256px;
height: 189px;
opacity: 1;
gap: 12px;

}
.buyukyazı{
  font-family:" Poppins";
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
padding-bottom: 15px;

}

.yazıkucuk{

  font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color: #999;
padding-bottom: 15px;

}

.input-box {
  position: relative;
  width: 300px;
}

.input-box img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
    background-color: #C1DCDC;


}




.input-box input {

    width: 168;
height: 51;
opacity: 1;
gap: 10px;
border-radius: 8px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
    background-color: #C1DCDC;
border: none;
}

.image-wreep{
 display: flex;
 flex-wrap: wrap;
 gap: 12px;

}