* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
     font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
}


.dividerr {
  width: 1px;
  height: 20px;
  background: #2e2b2b;

  
}

.logo {
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #999;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a.active {
    color: black;
    font-weight: 500;
}

.nav-links a:hover {
    color: black;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-icons img {
    width: 22px;
    cursor: pointer;
} 
.line-rightçizgi{
  border-right: 1px solid #ccc;
  margin-right: 1; 
}



@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
  }

  .nav-icons {
    gap: 15px;
  }

}

/*Minel Navbar and*/

/* Minel hero start */
.hero {  
  background-color: #C1DCDC;
  max-width: 1248px;
  margin: 40px auto;
  border-radius: 24px;
  padding: 80px;
}

.container {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SOL TARAF */
.baslık {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 32px;
}

/* Stats */
.stats {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-bottom: 32px;
}

.stats h3 {
  font-size: 32px;
  margin: 0;
}

.yazı {
  padding-top: 15px;
    margin: 0;
  color:#1E1E1E;
  font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 100%;

}

.divider {
  width: 2px;
  height: 60px;
  background: #131212;
}

/* SEARCH */
.search-box {
  position: relative;
  width: 449px;
}

.search-box input {
  width: 100%;
  height: 64px;
  border-radius: 12px;
  border: none;
  padding: 0 60px 0 20px;
  font-size: 16px;
}

.search-box img {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}



/* SAĞ TARAF */
.endıs {
  display: flex;
  justify-content: flex-end;
}

.image-wrap {
    position: relative;
  display: inline-block;

}

.bg-image {
  display: block;
    
}

.front-image {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  object-fit: contain; /* taşmayı engeller */
}
.icon-bg {
  position: absolute; 
  width: 48px;
  height: 48px;
  top: 8px;
  left: 393px;
  background-color:#C1DCDC;  
  border-radius: 4px;       
  opacity: 1;
  transform: rotate(0deg);    
}

@media (max-width: 768px) {

  .container{
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
  }

}
/*Minel Hero and*/



/*minel Product List start*/
.section-A{
padding: 60px 80px;


}

.container-A {  
  max-width: 1200px;
  margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 60px;
}
.hero-left-A{
margin-bottom:140px;
width: 256px;
height: 264px;
gap: 24px;
top: 732px;
left: 96px;



}
.buyukyazı{
  font-family:"Poppins",sans-serif ;
font-weight: 700;
font-size: 32px;
line-height: 1.6;
padding-bottom: 15px;
margin-bottom: 10px;

}

.yazıkucuk{
  font-family:"Poppins",sans-serif ;
font-weight: 500;
font-size: 18px;
line-height: 1.6;
letter-spacing:0;
color: #999;
padding-bottom: 15px;

}

.input-box {
  position: relative;
  width: 250px;
  

}
.input-box input {
width:155px;
gap: 10px;
border-radius: 8px;
padding-top: 12px;
padding-right: 24px;
padding-bottom: 12px;
padding-left: 24px;
    background-color: #C1DCDC;
border: none;
cursor: pointer;

}


.ressimm{
  position: absolute;
  top:50%;
right:45%;
transform: translateY(-50%);
  width: 20px;
  pointer-events: none;
}



/*resimler kısmı*/

.image-wreep{
 display: flex;
justify-content: center;
 gap: 30px;
}
.dikneli{
  text-align: center;
}
.dikneli img{
  width: 200px;
  border-radius: 20px;
  margin-bottom: 15px;

}
.altyazı{
  font-family:"Poppins",sans-serif ;
font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
padding-bottom: 15px;
padding-top: 15px;

}
@media (max-width: 768px) {

  .container-A {
    flex-direction: column;
    align-items: center;
  }

  .image-wreep {
    flex-direction: column;
    align-items: center;
  }

}
/*Minel Product List and */



/*Minel About start */
.about{
text-align: center;
padding: 60px 20px;
}

.aboutyazı{
  margin-bottom: 10px;
 font-family: 'Poppins', sans-serif;
 font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color:#1E1E1E;
}

.aboutalt{
margin-top:25px;
 font-family: 'Poppins', sans-serif;
 font-weight: 500;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color:#1E1E1E80;
}

.cardsP{
  margin-top: 55px;
  display: flex;
  justify-content: center;
  gap: 45px;
}


.cardsbir{
max-width: 250px;
gap:24px;

}
.imgcc{
margin: 0 auto;
  background-color: #C1DCDC;
width: 60px;
height: 60px;
border-radius:50px;
display: flex;

align-items: center;
justify-content: center;
}
.imgcc img{
  max-width: 45%;
  
}

.saksı{
  padding: 5px;
  max-width: 500px;
  margin: 10px;
 font-family: 'Poppins', sans-serif;
 font-weight: 700;
font-size:18px;
line-height: 100%;
letter-spacing: 0%;

}
.saksık {
  width: 250px; /* dene: 220px - 280px arası */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color:#1E1E1E80 ;
}


/*medi@ yeri*/

@media (max-width: 768px) {

  .cardsP {
    flex-direction: column;
    align-items: center;
  }

  .cardsbir{
    flex-direction: column;
    align-items: center;
  }

}

/*Minel About and */



/* start */
.categoriess {
    text-align: center;
    padding: 60px 20px;
}

.ccy {
    font-size: 28px;
    margin-bottom: 10px;
}

.ccp {
    color: #777;
    margin-bottom: 40px;
}

/* CONTAINER */
.containerC {
    max-width: 1440px;
    margin: 0 auto;
    background: #C1DCDC;
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
    margin-top: 115px;

}

/* KART */
.cardCR {
    width: 352px; 
    text-align: center;
    position: relative;
}

/* RESİM */
.cardCR img {
    width: 100%;
    height: 512px; 
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

/* ORTADAKİ KART TEXT */
.cardCR p {
  
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #1E1E1E80;
    line-height: 125%;
}

/* BAŞLIK */
.y {
    font-size: 16px;
    margin-top: 15px;
}

/* YUKARI ÇIKARMA (ASIMETRİ) */
.cardCR:first-child,
.cardCR:last-child {
    transform: translateY(-50px); /* 🔥 figmadaki gibi yukarı çıkar */
}

/* ORTA KART NORMAL KALIR */
.cardCR:nth-child(2) {
    transform: translateY(0);}



.cardOPR{
  margin-top: 50px;
}